Repository LittleLittleCloud/llm-canvas, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, documentation, tests, examples, dependencies, build, config

fix: change default layout direction from TB to LR in CanvasView component
  web_ui/src/components/CanvasView.tsx
Labels: frontend

fix: simplify theme toggle logic and remove unused theme options
  web_ui/src/components/ThemeToggle.tsx
Labels: frontend

Default to LR && improve theme button (#10)
  web_ui/src/components/CanvasView.tsx
  web_ui/src/components/ThemeToggle.tsx
Labels: frontend

feat: Enhance LLM Canvas UI and theme handling
  README.md
  web_ui/index.gh-pages.html
  web_ui/index.html
  web_ui/public/logo-icon-badge.svg
  web_ui/public/logo-icon-dark.svg
  web_ui/public/logo-icon-light.svg
  web_ui/src/components/Logo.tsx
  web_ui/src/store/themeStore.ts
  web_ui/src/vite-env.d.ts
Labels: frontend, documentation

feat: Enhance LLM Canvas UI and theme handling (#11)
  README.md
  web_ui/index.gh-pages.html
  web_ui/index.html
  web_ui/public/logo-icon-badge.svg
  web_ui/public/logo-icon-dark.svg
  web_ui/public/logo-icon-light.svg
  web_ui/src/components/Logo.tsx
  web_ui/src/store/themeStore.ts
  web_ui/src/vite-env.d.ts
Labels: frontend, documentation

Bump version from 0.1.2 to 0.1.3
  pyproject.toml
Labels: dependencies, config

feat: Add sitemap.xml and robots.txt generation for GitHub Pages
  web_ui/.env.example
  web_ui/vite.config.ts
Labels: frontend

feat: Add sitemap.xml and robots.txt generation for GitHub Pages (#12)
  web_ui/.env.example
  web_ui/vite.config.ts
Labels: frontend

fix: update logo asset paths and improve SVG files
  README.md
  web_ui/index.gh-pages.html
  web_ui/index.html
  web_ui/public/assets/logo-icon-badge.svg
  web_ui/public/assets/logo-icon-dark.svg
  web_ui/public/assets/logo-icon-light.svg
  web_ui/src/components/Logo.tsx
Labels: frontend, documentation

chore: bump version to 0.1.4 and update project description
  pyproject.toml
Labels: dependencies, config

fix: update logo asset paths and improve SVG files (#13)
  README.md
  pyproject.toml
  web_ui/index.gh-pages.html
  web_ui/index.html
  web_ui/public/assets/logo-icon-badge.svg
  web_ui/public/assets/logo-icon-dark.svg
  web_ui/public/assets/logo-icon-light.svg
  web_ui/src/components/Logo.tsx
Labels: frontend, documentation, dependencies, config

feat: Implement CanvasCard component and integrate into GalleryPage and GithubGalleryPage (#14)
  .github/workflows/release.yml
  llm_canvas/_server/_server.py
  pyproject.toml
  web_ui/src/App.tsx
  web_ui/src/components/CanvasCard.tsx
  web_ui/src/components/CanvasGallery.tsx
  web_ui/src/pages/GalleryPage.tsx
  web_ui/src/pages/GithubGalleryPage.tsx
Labels: frontend, backend, dependencies, build, config

fix: Correctly format release notes output in GitHub Actions workflow
  .github/workflows/release.yml
Labels: build

feat: Add ImageBlockParam support and implement image comparison example
  doc/support_message_type.md
  examples/claude/image.py
  examples/claude/utils.py
  llm_canvas/types.py
  llm_canvas_generated_client/llm_canvas_api_client/models/message.py
  pyproject.toml
  schemas/openapi.json
  web_ui/src/api/canvasExampleService.ts
  web_ui/src/client/models/Message.ts
  web_ui/src/client/schemas/$Message.ts
  web_ui/src/components/CanvasView.tsx
  web_ui/src/components/ImageBlockView.tsx
  web_ui/src/components/MessageBlockView.tsx
  web_ui/src/examples/image.json
  web_ui/src/types.ts
Labels: frontend, backend, documentation, examples, dependencies, config

Add SyntaxHighlighter component and example source code; enhance GithubGalleryPage and GithubLandingPage with new features and improved UI
  web_ui/src/components/CanvasView.tsx
  web_ui/src/components/ExampleCard.tsx
  web_ui/src/components/SyntaxHighlighter.tsx
  web_ui/src/examples/sourceCode.ts
  web_ui/src/pages/CanvasPage.tsx
  web_ui/src/pages/GithubGalleryPage.tsx
  web_ui/src/pages/GithubLandingPage.tsx
Labels: frontend

feat: Enhance CanvasView integration in ExampleCard with control and panel visibility
  web_ui/src/components/CanvasView.tsx
  web_ui/src/components/ExampleCard.tsx
Labels: frontend

feat: Add keyboard focus handling and improve canvas interaction in CanvasView
  web_ui/src/components/CanvasView.tsx
Labels: frontend

feat: Implement example source loader and enhance GitHub link retrieval for canvas examples
  web_ui/src/components/ExampleCard.tsx
  web_ui/src/examples/sourceCode.ts
  web_ui/src/pages/GithubGalleryPage.tsx
  web_ui/src/types/virtual-modules.d.ts
  web_ui/vite-plugins/example-source-loader.ts
  web_ui/vite.config.ts
Labels: frontend

feat: Add website link to README and remove unused onOpenCanvas prop in GithubGalleryPage
  README.md
  web_ui/src/pages/GithubGalleryPage.tsx
Labels: frontend, documentation

fix: Bump version to 0.1.6 in pyproject.toml
  pyproject.toml
Labels: dependencies, config

support multi-moda message (#15)
  README.md
  doc/support_message_type.md
  examples/claude/image.py
  examples/claude/utils.py
  llm_canvas/types.py
  llm_canvas_generated_client/llm_canvas_api_client/models/message.py
  pyproject.toml
  schemas/openapi.json
  web_ui/src/api/canvasExampleService.ts
  web_ui/src/client/models/Message.ts
  web_ui/src/client/schemas/$Message.ts
  web_ui/src/components/CanvasView.tsx
  web_ui/src/components/ExampleCard.tsx
  web_ui/src/components/ImageBlockView.tsx
  web_ui/src/components/MessageBlockView.tsx
  web_ui/src/components/SyntaxHighlighter.tsx
  web_ui/src/examples/image.json
  web_ui/src/examples/sourceCode.ts
  web_ui/src/pages/CanvasPage.tsx
  web_ui/src/pages/GithubGalleryPage.tsx
  web_ui/src/pages/GithubLandingPage.tsx
  web_ui/src/types.ts
  web_ui/src/types/virtual-modules.d.ts
  web_ui/vite-plugins/example-source-loader.ts
  web_ui/vite.config.ts
Labels: frontend, backend, documentation, examples, dependencies, config

fix: Correctly read and output release notes in GitHub Actions workflow
  .github/workflows/release.yml
Labels: build

feat: Add useIsMobile hook for responsive design and update ExampleCard to link to canvas
  web_ui/src/components/CanvasView.tsx
  web_ui/src/components/ExampleCard.tsx
  web_ui/src/hooks/index.ts
  web_ui/src/hooks/useIsMobile.ts
Labels: frontend

feat: Add useIsMobile hook for responsive design and update ExampleCard to link to canvas (#16)
  web_ui/src/components/CanvasView.tsx
  web_ui/src/components/ExampleCard.tsx
  web_ui/src/hooks/index.ts
  web_ui/src/hooks/useIsMobile.ts
Labels: frontend

feat: Implement Server-Side Events (SSE) for real-time canvas and message updates
  doc/server/api.md
  doc/server/sse_api.md
  llm_canvas/_server/_api.py
  llm_canvas/_server/_events.py
  llm_canvas/_server/_types.py
Labels: backend, documentation

feat: Implement SSE event handling in GalleryPage for real-time updates
  llm_canvas/_server/_api.py
  llm_canvas/_server/_events.py
  llm_canvas/_server/_server.py
  web_ui/src/pages/GalleryPage.tsx
Labels: frontend, backend

feat: Enhance SSE handling in CanvasPage for message updates and error management
  web_ui/src/pages/CanvasPage.tsx
Labels: frontend

feat: Implement SSE management in CanvasView and refactor CanvasPage for improved real-time updates
  llm_canvas/_server/_server.py
  web_ui/src/components/CanvasView.tsx
  web_ui/src/hooks/index.ts
  web_ui/src/hooks/useIsGithubPages.ts
  web_ui/src/pages/CanvasPage.tsx
Labels: frontend, backend

fix: Rename fetchExample to fetchCanvas in CanvasExampleService and update references in CanvasPage and GithubGalleryPage
  web_ui/src/api/canvasExampleService.ts
  web_ui/src/pages/CanvasPage.tsx
  web_ui/src/pages/GithubGalleryPage.tsx
Labels: frontend

chore: Update llm-canvas version from 0.1.1 to 0.1.6 in uv.lock
  tests/test_sse_api.py
  uv.lock
Labels: tests, dependencies

chore: Bump version to 0.2.0 in pyproject.toml
  pyproject.toml
Labels: dependencies, config

fix: Update signal handler type from Literal to Union for compatibility chore: Bump llm-canvas version to 0.2.0 in uv.lock
  llm_canvas/_server/_server.py
  uv.lock
Labels: backend, dependencies

fix: Update signal handler to use signal.Signals for improved clarity
  llm_canvas/_server/_server.py
Labels: backend

fix: Change signal handler type from Union to Literal for improved type safety
  llm_canvas/_server/_server.py
Labels: backend

feat: update dependencies and refactor CanvasView component
  web_ui/package-lock.json
  web_ui/package.json
  web_ui/src/components/CanvasView.tsx
Labels: frontend, dependencies

feat: enhance examples and improve CanvasView component layout
  examples/README.md
  examples/pressure_test_example.py
  examples/tree_example.py
  llm_canvas/canvas.py
  pyproject.toml
  web_ui/src/components/CanvasView.tsx
Labels: frontend, backend, documentation, tests, examples, dependencies, config

feat: implement branch checkout method and update examples in README
  examples/README.md
  examples/tree_example.py
  llm_canvas/canvas.py
  pyproject.toml
  tests/test_canvas.py
Labels: backend, documentation, tests, examples, dependencies, config

chore: update version to 0.2.1 and adjust ruff configuration in canvas_client.py
  examples/pressure_test_example.py
  llm_canvas/canvas_client.py
  uv.lock
Labels: backend, tests, examples, dependencies

Migrate to xyflow (#23)
  examples/README.md
  examples/tree_example.py
  llm_canvas/canvas.py
  llm_canvas/canvas_client.py
  pyproject.toml
  tests/test_canvas.py
  uv.lock
  web_ui/package-lock.json
  web_ui/package.json
  web_ui/src/components/CanvasView.tsx
Labels: frontend, backend, documentation, tests, examples, dependencies, config

.github/labeler.yml:

# Configuration for auto-labeling PRs
# See https://github.com/actions/labeler for syntax

# Frontend related changes
"frontend":
  - changed-files:
      - any-glob-to-any-file: "web_ui/**/*"

# Backend/API changes
"backend":
  - changed-files:
      - any-glob-to-any-file: "llm_canvas/**/*.py"
      - any-glob-to-any-file: "llm_canvas/_server/**/*"

# Documentation changes
"documentation":
  - changed-files:
      - any-glob-to-any-file: "**/*.md"
      - any-glob-to-any-file: "doc/**/*"

# Tests
"tests":
  - changed-files:
      - any-glob-to-any-file: "tests/**/*"
      - any-glob-to-any-file: "**/*test*.py"

# Examples
"examples":
  - changed-files:
      - any-glob-to-any-file: "examples/**/*"

# Dependencies
"dependencies":
  - changed-files:
      - any-glob-to-any-file: "pyproject.toml"
      - any-glob-to-any-file: "uv.lock"
      - any-glob-to-any-file: "web_ui/package.json"
      - any-glob-to-any-file: "web_ui/package-lock.json"

# Build/CI
"build":
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
      - any-glob-to-any-file: "build.py"
      - any-glob-to-any-file: "build.sh"
      - any-glob-to-any-file: "build.ps1"

# Configuration
"config":
  - changed-files:
      - any-glob-to-any-file: "*.toml"
      - any-glob-to-any-file: "*.ini"
      - any-glob-to-any-file: "*.json"
      - any-glob-to-any-file: "*.yml"
      - any-glob-to-any-file: "*.yaml"
