Repository LittleLittleCloud/llm-canvas, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, documentation, tests, examples, dependencies, build, config

chore: update package.json scripts and format code style
  .github/README.md
  .github/workflows/pr.yml
  .github/workflows/security.yml
  build.ps1
  build.py
  build.sh
  llm_canvas/_server/_registry.py
  pyproject.toml
  uv.lock
  web_ui/package.json
  web_ui/src/main.tsx
Labels: frontend, backend, documentation, dependencies, build, config

chore: remove outdated GitHub workflows for dependency and issue management
  .github/workflows/dependencies.yml
  .github/workflows/issue-pr-management.yml
Labels: build

chore: remove unused examples job from PR workflow, update dependencies ignore list, and clean up shebang in client generation scripts
  .github/workflows/pr.yml
  pyproject.toml
  scripts/cleanup-env-history.ps1
  scripts/generate_client.py
  scripts/generate_openapi_schema.py
Labels: dependencies, build, config

feat: add utility function for conditional class names using clsx and tailwind-merge
  .gitignore
  web_ui/src/lib/utils.ts
Labels: frontend

refactor: replace union operator with Union type for better type hinting consistency
  llm_canvas/_server/_api.py
  llm_canvas/_server/_registry.py
  llm_canvas/canvas.py
  llm_canvas/canvas_client.py
  llm_canvas/canvas_registry.py
  llm_canvas/types.py
  pyproject.toml
Labels: backend, dependencies, config

chore: simplify build command in CI workflows by using 'uv build'
  .github/workflows/pr.yml
  .github/workflows/release.yml
Labels: build

chore: update package.json scripts and format code style (#1)
  .github/README.md
  .github/workflows/dependencies.yml
  .github/workflows/issue-pr-management.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .gitignore
  build.ps1
  build.py
  build.sh
  llm_canvas/_server/_api.py
  llm_canvas/_server/_registry.py
  llm_canvas/canvas.py
  llm_canvas/canvas_client.py
  llm_canvas/canvas_registry.py
  llm_canvas/types.py
  pyproject.toml
  scripts/cleanup-env-history.ps1
  scripts/generate_client.py
  scripts/generate_openapi_schema.py
  uv.lock
  web_ui/package.json
  web_ui/src/lib/utils.ts
  web_ui/src/main.tsx
Labels: frontend, backend, documentation, dependencies, build, config

feat: Add examples for Claude analysis, routing, and parallel processing; update README and utility functions
  README.md
  examples/claude/__init__.py
  examples/claude/chain.py
  examples/claude/parallelization.py
  examples/claude/route.py
  examples/claude/utils.py
  examples/utils.py
  pyproject.toml
  web_ui/.env.example
Labels: frontend, documentation, examples, dependencies, config

feat: add Markdown rendering and copy functionality
  examples/claude/chain.py
  web_ui/package-lock.json
  web_ui/package.json
  web_ui/src/components/CanvasView.tsx
  web_ui/src/components/CopyButton.tsx
  web_ui/src/components/MarkdownRenderer.tsx
  web_ui/src/components/MessageNode.tsx
  web_ui/src/components/TextBlockView.tsx
Labels: frontend, examples, dependencies

feat: add ServerStatusIndicator component and integrate server status checks
  web_ui/src/components/CanvasGallery.tsx
  web_ui/src/components/Header.tsx
  web_ui/src/components/ServerStatusIndicator.tsx
  web_ui/src/hooks/index.ts
  web_ui/src/hooks/useServerStatus.ts
Labels: frontend

feat: Implement theme provider and toggle for dark/light mode support
  web_ui/src/App.tsx
  web_ui/src/components/CanvasGallery.tsx
  web_ui/src/components/CanvasView.tsx
  web_ui/src/components/CopyButton.tsx
  web_ui/src/components/Header.tsx
  web_ui/src/components/MarkdownRenderer.tsx
  web_ui/src/components/MessageBlockView.tsx
  web_ui/src/components/MessageNode.tsx
  web_ui/src/components/ServerStatusIndicator.tsx
  web_ui/src/components/ThemeProvider.tsx
  web_ui/src/components/ThemeToggle.tsx
  web_ui/src/components/ToolResultBlockView.tsx
  web_ui/src/components/ToolUseBlockView.tsx
  web_ui/src/hooks/useTheme.ts
  web_ui/src/index.css
  web_ui/src/store/themeStore.ts
Labels: frontend

feat: Add Documentation Page and enhance Markdown rendering
  web_ui/package-lock.json
  web_ui/package.json
  web_ui/src/App.tsx
  web_ui/src/components/Header.tsx
  web_ui/src/components/MarkdownRenderer.tsx
  web_ui/src/index.css
  web_ui/src/pages/DocumentationPage.tsx
Labels: frontend, dependencies

Add GitHub landing page and update canvas and gallery pages for example mode
  web_ui/src/App.tsx
  web_ui/src/api/canvasExampleService.ts
  web_ui/src/components/CanvasGallery.tsx
  web_ui/src/components/Header.tsx
  web_ui/src/components/ServerStatusIndicator.tsx
  web_ui/src/components/ThemeToggle.tsx
  web_ui/src/config/index.ts
  web_ui/src/examples/chain.json
  web_ui/src/examples/parallelization.json
  web_ui/src/examples/routing.json
  web_ui/src/pages/CanvasPage.tsx
  web_ui/src/pages/GalleryPage.tsx
  web_ui/src/pages/GithubLandingPage.tsx
Labels: frontend

feat: Add GitHub Actions workflow for deploying to GitHub Pages
  .github/workflows/gh-deploy.yml
  web_ui/package.json
Labels: frontend, dependencies, build

feat: Add examples README and link to detailed examples
  README.md
  examples/README.md
  pyproject.toml
Labels: documentation, examples, dependencies, config

fix: Rename input parameter for clarity and streamline commit message logging
  examples/claude/route.py
Labels: examples

refactor: Simplify futures list comprehension for better readability
  examples/claude/parallelization.py
Labels: examples

fix: Remove pull request trigger from GitHub Pages deployment workflow
  .github/workflows/gh-deploy.yml
Labels: build

fix: Update description for parallelization example to provide clarity
  web_ui/src/examples/parallelization.json
Labels: frontend

add claude example and github page (#2)
  .github/workflows/gh-deploy.yml
  README.md
  examples/README.md
  examples/claude/__init__.py
  examples/claude/chain.py
  examples/claude/parallelization.py
  examples/claude/route.py
  examples/claude/utils.py
  examples/utils.py
  pyproject.toml
  web_ui/.env.example
  web_ui/package-lock.json
  web_ui/package.json
  web_ui/src/App.tsx
  web_ui/src/api/canvasExampleService.ts
  web_ui/src/components/CanvasGallery.tsx
  web_ui/src/components/CanvasView.tsx
  web_ui/src/components/CopyButton.tsx
  web_ui/src/components/Header.tsx
  web_ui/src/components/MarkdownRenderer.tsx
  web_ui/src/components/MessageBlockView.tsx
  web_ui/src/components/MessageNode.tsx
  web_ui/src/components/ServerStatusIndicator.tsx
  web_ui/src/components/TextBlockView.tsx
  web_ui/src/components/ThemeProvider.tsx
  web_ui/src/components/ThemeToggle.tsx
  web_ui/src/components/ToolResultBlockView.tsx
  web_ui/src/components/ToolUseBlockView.tsx
  web_ui/src/config/index.ts
  web_ui/src/examples/chain.json
  web_ui/src/examples/parallelization.json
  web_ui/src/examples/routing.json
  web_ui/src/hooks/index.ts
  web_ui/src/hooks/useServerStatus.ts
  web_ui/src/hooks/useTheme.ts
  web_ui/src/index.css
  web_ui/src/pages/CanvasPage.tsx
  web_ui/src/pages/GalleryPage.tsx
  web_ui/src/pages/GithubLandingPage.tsx
  web_ui/src/store/themeStore.ts
Labels: frontend, documentation, examples, dependencies, build, config

feat: add @types/node for TypeScript support and refactor GithubLandingPage navigation
  web_ui/package-lock.json
  web_ui/package.json
  web_ui/src/pages/GithubLandingPage.tsx
  web_ui/vite.config.ts
Labels: frontend, dependencies

feat: add @types/node for TypeScript support and refactor GithubLandingPage navigation (#3)
  web_ui/package-lock.json
  web_ui/package.json
  web_ui/src/pages/GithubLandingPage.tsx
  web_ui/vite.config.ts
Labels: frontend, dependencies

fix: set basename for Router in App component based on build mode
  web_ui/src/App.tsx
Labels: frontend

fix: change refreshInterval type to null for better type inference
  web_ui/src/pages/GalleryPage.tsx
Labels: frontend

fix: simplify package build command in release workflow
  .github/workflows/release.yml
Labels: build

fix: add PyPI badge to README for better visibility
  README.md
Labels: documentation

Update README.md
  examples/README.md
Labels: documentation, examples

fix: reorganize README for clarity and improved structure
  README.md
Labels: documentation

fix: improve README introduction for clarity and context
  README.md
Labels: documentation

feat: implement merge functionality for single and multiple branches with validation
  doc/manage_canvas.md
  doc/merge_strategies.md
  doc/support_message_type.md
  doc/web_ui/support_message_type.md
  llm_canvas/canvas.py
  tests/test_canvas.py
Labels: backend, documentation, tests

feat: enhance parallel processing and add SPA routing in server
  examples/claude/parallelization.py
  llm_canvas/_server/_server.py
  llm_canvas/canvas.py
  web_ui/src/components/CanvasView.tsx
  web_ui/src/examples/parallelization.json
Labels: frontend, backend, examples

Support merge (#5)
  doc/manage_canvas.md
  doc/merge_strategies.md
  doc/support_message_type.md
  doc/web_ui/support_message_type.md
  examples/claude/parallelization.py
  llm_canvas/_server/_server.py
  llm_canvas/canvas.py
  tests/test_canvas.py
  web_ui/src/components/CanvasView.tsx
  web_ui/src/examples/parallelization.json
Labels: frontend, backend, documentation, tests, examples

Update version
  pyproject.toml
Labels: dependencies, config

Update version (#6)
  pyproject.toml
Labels: dependencies, config

feat: add GitHub Pages support with custom HTML and 404 handling
  web_ui/index.gh-pages.html
  web_ui/index.html
  web_ui/public/404.html
  web_ui/vite.config.ts
Labels: frontend

feat: add GitHub Pages support with custom HTML and 404 handling (#7)
  web_ui/index.gh-pages.html
  web_ui/index.html
  web_ui/public/404.html
  web_ui/vite.config.ts
Labels: frontend

fix: enhance 404 handling for client-side routing in GitHub Pages
  web_ui/index.gh-pages.html
  web_ui/public/404.html
Labels: frontend

fix: enhance comments and logging in GitHub Pages SPA redirect script
  web_ui/index.gh-pages.html
Labels: frontend

fix: comment out GitHub Pages SPA redirect script in HTML file
  web_ui/index.gh-pages.html
Labels: frontend

fix: uncomment GitHub Pages SPA redirect script in HTML file and enhance Vite config for index.html copying
  web_ui/index.gh-pages.html
  web_ui/vite.config.ts
Labels: frontend

.github/labeler.yml:

# Configuration for auto-labeling PRs
# See https://github.com/actions/labeler for syntax

# Frontend related changes
"frontend":
  - changed-files:
      - any-glob-to-any-file: "web_ui/**/*"

# Backend/API changes
"backend":
  - changed-files:
      - any-glob-to-any-file: "llm_canvas/**/*.py"
      - any-glob-to-any-file: "llm_canvas/_server/**/*"

# Documentation changes
"documentation":
  - changed-files:
      - any-glob-to-any-file: "**/*.md"
      - any-glob-to-any-file: "doc/**/*"

# Tests
"tests":
  - changed-files:
      - any-glob-to-any-file: "tests/**/*"
      - any-glob-to-any-file: "**/*test*.py"

# Examples
"examples":
  - changed-files:
      - any-glob-to-any-file: "examples/**/*"

# Dependencies
"dependencies":
  - changed-files:
      - any-glob-to-any-file: "pyproject.toml"
      - any-glob-to-any-file: "uv.lock"
      - any-glob-to-any-file: "web_ui/package.json"
      - any-glob-to-any-file: "web_ui/package-lock.json"

# Build/CI
"build":
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
      - any-glob-to-any-file: "build.py"
      - any-glob-to-any-file: "build.sh"
      - any-glob-to-any-file: "build.ps1"

# Configuration
"config":
  - changed-files:
      - any-glob-to-any-file: "*.toml"
      - any-glob-to-any-file: "*.ini"
      - any-glob-to-any-file: "*.json"
      - any-glob-to-any-file: "*.yml"
      - any-glob-to-any-file: "*.yaml"
